tags
neovim/.config/nvim/repos
joplin/.config/joplin-desktop/database.sqlite
joplin/.config/joplin-desktop/log-database.txt
joplin/.config/joplin-desktop/log.txt
joplin/.config/joplin-desktop/resources/*
joplin/.config/joplin-desktop/tmp
joplin/.config/joplin-desktop/cache/*
joplin/.config/joplin-desktop/plugins/*
joplin/.config/joplin-desktop/log-clipper.txt
joplin/.config/joplin-desktop/keymap-desktop.json
joplin/.config/joplin-desktop/settings.json
joplin/.config/joplin-desktop/database.sqlite-journal
node_modules/
**/packer_compiled.vim
**/packer_compiled.lua
tmux-client-*.log
kubie/.kube/cache
kubie/.kube/config
kubie/.kube/kubectx
kubie/.kube/ctx
kubie/.kube/kubectx
kubie/.kube/kubens
