tags
neovim/.config/nvim/repos
joplin/.config/joplin-desktop/database.sqlite
joplin/.config/joplin-desktop/log-database.txt
joplin/.config/joplin-desktop/log.txt
joplin/.config/joplin-desktop/resources/*
joplin/.config/joplin-desktop/tmp
joplin/.config/joplin-desktop/log-clipper.txt
joplin/.config/joplin-desktop/keymap-desktop.json
node_modules/
**/packer_compiled.vim
