configuration {
  show-icons: true;
  terminal: "wezterm";
  disable-history: false;
  hide-scrollbar: true;
  display-drun: "";
  drun-display-format: "{icon} {name}";
}
@theme "~/.local/share/rofi/themes/ayu-mirage.rasi"
