! ===================
! urxvt configuration
! ===================
! urxvt extension
Urxvt.perl-ext-common: default,tabbed,matcher,resize-font,-tabbed
URxvt*scrollBar:	false
URxvt*letterSpace:	-0.8
URxvt.font:		xft:FuraCode Nerd Font Mono:Retina:size=10
URxvt.boldFont:		xft:FuraCode Nerd Font Mono:Retina:size=10
URxvt*cursorBlink:  true
URxvt.iso14755:		false
URxvt*utf8:			true
URxvt.keysym.C-equal:         resize-font:bigger
URxvt.keysym.C-minus:    resize-font:smaller
URxvt.keysym.C-0:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
URxvt*depth: 32
! hard contrast: *background: #1d2021
/* URxvt*background: [93]#282828 */
! =================
! st configuration
! =================
st.font:	FuraCode Nerd Font Mono:Regular:size=10
st.termname: st-256color
! =================
! rofi color scheme
! =================
#define hl_text #1F1F1F
#define m_color #689d6a

rofi.color-enabled:		true
rofi.separator-style:	solid
rofi.color-normal:		argb:00000000, #a89984, argb:00000000,  m_color,  hl_text
rofi.color-urgent:		argb:00000000, #F99157, argb:00000000,  #F99157,  hl_text
rofi.color-active:		argb:00000000, #6699CC, argb:00000000,  #6699CC,  hl_text
rofi.color-window:		argb:ee222222, m_color, m_color
rofi.font: Roboto regular 12
rofi.bw:                0
rofi.padding:           10
rofi.hide-scrollbar:    true
rofi.lines:             6


! ===================
! Colors
! ===================
!
! gruvbox
!
! *.cursorColor: #a89984
! *background: #282828
! ! soft contrast: *background: #32302f
! *foreground: #ebdbb2
! ! Black + DarkGrey
! *color0:  #282828
! *color8:  #928374
! ! DarkRed + Red
! *color1:  #cc241d
! *color9:  #fb4934
! ! DarkGreen + Green
! *color2:  #98971a
! *color10: #b8bb26
! ! DarkYellow + Yellow
! *color3:  #d79921
! *color11: #fabd2f
! ! DarkBlue + Blue
! *color4:  #458588
! *color12: #83a598
! ! DarkMagenta + Magenta
! *color5:  #b16286
! *color13: #d3869b
! ! DarkCyan + Cyan
! *color6:  #689d6a
! *color14: #8ec07c
! ! LightGrey + White
! *color7:  #a89984
! *color15: #ebdbb2

!
! ayu-mirage
!

*.cursorColor: #a89984
*background: #1F2430
! soft contrast: *background: #707A8C
*foreground: #CBCCC6
! Black + DarkGrey
*color0:  #232834
*color8:  #707A8C
! DarkRed + Red
*color1:  #FF3333
*color9:  #F27983
! DarkGreen + Green
*color2:  #86B300
*color10: #91B362
! DarkYellow + Yellow
*color3:  #FF8F40
*color11: #E6B450
! DarkBlue + Blue
*color4:  #39BAE6
*color12: #5CCFE6
! DarkMagenta + Magenta
*color5:  #D96C75
*color13: #F07178
! DarkCyan + Cyan
*color6:  #A6CC70
*color14: #BAE67E
! LightGrey + White
*color7:  #33415E
*color15: #FFE6B3
